@(tweets: List[Tweet])(implicit session: Session) @* (implicit flash: Flash)*@
@main("My Timeline", session) {
    <div id="content" class="wrapper doc">
        <ul class="tweet">
            @for(tweet <- tweets) {
                <li>
                    <div class="card tweet">
                        <div class="card-body">
                            <h4 class="card-title">@tweet.username</h4>
                            <h6 class="card-subtitle mb-2 text-muted">@tweet.userTag</h6>
                            <p class="card-text">
                            @tweet.content
                            </p>
                        </div>
                        <div class="card-footer">
                        @for(comment <- tweet.comments) {
                            <div>
                            @comment.content
                            </div>
                            <div>
                            @comment.likes
                            </div>
                        }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}
