@(user: User, tweets: List[Tweet], removeUrl: Call, clientUser: User)(implicit session: Session, request: MessagesRequestHeader)
    @main(user.username, session) {
        <h1>@user.username</h1>
        @if(user.username != clientUser.username) {
            @helper.form(routes.ProfilePageController.followUser(user.username), Symbol("class") -> "follow-user-form") {
                @helper.CSRF.formField
                @if(!clientUser.followedUsers.contains(user.username)) {
                    <input type="submit" value="follow" class="alert alert-info">
                }
                @if(clientUser.followedUsers.contains(user.username)) {
                    <input type="submit" value="unfollow" class="alert alert-success">
                }
            }
        }
        <ul class="tweets">
        @for(tweet <- tweets) {
            <li>
                <div class="card tweet">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/profile/@tweet.username">@tweet.username</a></h4>
                        @if(tweet.sharedBy.isDefined) {
                            <h6 class="card-subtitle mb-2 text-muted">
                                Shared by: <a href="/profile/@tweet.sharedBy.get">@tweet.sharedBy.get</a></h6>
                        }
                        @if(tweet.image.isDefined) {
                            <img src="@routes.Assets.versioned(s"images/${tweet.image.get}")" alt="missing image">
                        }
                        <p class="card-text">@tweet.content</p>
                        @if(tweet.hashtag != "") {
                            <p class="card-text">@tweet.hashtag</p>
                        }
                        @if(tweet.username == clientUser.username) {
                            @helper.form(removeUrl, Symbol("id") -> s"remove-tweet-form-${tweet.id}", Symbol("class") -> "remove-tweet-form") {
                                @helper.CSRF.formField

                                <input type="hidden" name="id" value="@tweet.id">

                                <input type="submit" value="delete" class="alert alert-danger">
                            }
                        }
                        @helper.form(routes.TweetController.likeTweet, Symbol("class") -> "like-tweet-form") {
                            @helper.CSRF.formField

                            <input type="hidden" name="id" value="@tweet.id">

                            <input type="submit" value="like" class="alert alert-light">
                        }
                        @helper.form(routes.TweetController.commentOnTweet(), Symbol("class") -> "comment-on-tweet-form") {
                            @helper.CSRF.formField

                            <input type="hidden" name="target" value="@tweet.id">

                            <label>
                                Comment:
                                <textarea placeholder="Leave a comment" name="content"></textarea>
                            </label>

                            <input type="submit" value="comment" class="alert alert-light">
                        }
                        @if(clientUser.username != tweet.username) {
                            @helper.form(routes.TweetController.shareTweet(), Symbol("class") -> "share-tweet-form") {
                                @helper.CSRF.formField

                                <input type="hidden" name="id" value="@tweet.id">
                                @if(clientUser.sharedTweets.contains(tweet.id)) {
                                    <input type="submit" value="unshare" class="alert alert-success">
                                }
                                @if(!clientUser.sharedTweets.contains(tweet.id)) {
                                    <input type="submit" value="share" class="alert alert-warning">
                                    }
                            }
                        }
                    </div>
                    @if(tweet.comments.nonEmpty) {
                        <div class="card-footer">
                        @for(comment <- tweet.comments) {
                            <div>
                            @comment.content
                            </div>
                        }
                        </div>
                    }
                </div>
            </li>
        }
        </ul>
    }