@(user: User, tweets: List[Tweet], removeUrl: Call)(implicit session: Session, request: MessagesRequestHeader)
    @main(user.username, session) {
    <ul class="tweets">
    @for(tweet <- tweets) {
        <li>
            <div class="card tweet">
                <div class="card-body">
                    <h4 class="card-title"><a href="/profile/@tweet.username">@tweet.username</a></h4>
                    @if(tweet.sharedBy.isDefined) {
                        <h6 class="card-subtitle mb-2 text-muted">Shared by: <a href="/profile/@tweet.sharedBy.get">@tweet.sharedBy.get</a></h6>
                    }
                    @if(tweet.image.isDefined) {
                        <img src="@routes.Assets.versioned(s"images/${tweet.image.get}")" alt="missing image">
                    }
                    <p class="card-text">@tweet.content</p>
                    @if(tweet.hashtag != "") {
                        <p class="card-text">@tweet.hashtag</p>
                    }
                    @if(tweet.username == session.get("username").get) {
                        @helper.form(removeUrl, Symbol("id") -> s"remove-tweet-form-${tweet.id}", Symbol("class") -> "remove-tweet-form") {
                            @helper.CSRF.formField

                            <input type="hidden" name="id" value="@tweet.id">

                            <input type="submit" value="delete" class="alert alert-danger">
                            }
                    }
                </div>
                @if(tweet.comments.nonEmpty) {
                    <div class="card-footer">
                    @for(comment <- tweet.comments) {
                        <div>
                        @comment.content
                        </div>
                        <div>
                        @comment.likes
                        </div>
                    }
                    </div>
                }
            </div>
        </li>
    }
    </ul>
        @tweets.size
    }